<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="{{android.package}}">    
    <application>

        <!-- if extension-admob is not loaded, uncomment this bit to use UMP on its own 
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="" tools:node="remove"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" tools:node="remove"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" tools:node="remove"/>-->

    </application>
</manifest>
